### Project - MovieLens Data Analysis

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.

#### Domain 
Internet and Entertainment

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

#### 1. Import the necessary packages - 2.5 marks

In [ ]:
#importing required packages

import numpy as np  
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set(color_codes=True) 
%matplotlib inline

#### 2. Read the 3 datasets into dataframes - 2.5 marks

In [ ]:
#reading the data files

Data_data = pd.read_csv('Data.csv') 
Data_item = pd.read_csv('item.csv')
Data_user = pd.read_csv('user.csv')

#### 3. Apply info, shape, describe, and find the number of missing values in the data - 5 marks

In [ ]:
#applying head on Data.csv

Data_data.head()

In [ ]:
#applying head on item.csv

Data_item.head()

In [ ]:
#applying head on user.csv

Data_user.head()

In [ ]:
#applying shape on all data files and then printing the result

shape_data= Data_data.shape 
shape_item= Data_item.shape
shape_user= Data_user.shape

print (shape_data)
print (shape_item)
print (shape_user)

In [ ]:
#applying describe on Data.csv

Data_data.describe()

In [ ]:
#applying describe on item.csv

Data_item.describe()

In [ ]:
#applying describe on user.csv

Data_user.describe()

In [ ]:
#applying info on Data.csv

Data_data.info()

In [ ]:
#applying info on item.csv

Data_item.info()

In [ ]:
#applying info on user.csv

Data_user.info()

In [ ]:
#applying isnull().sum() on Data.csv to return number of missing values

Data_data.isnull().sum()

In [ ]:
#isnull().sum() on item.csv to return number of missing values

Data_item.isnull().sum()

In [ ]:
#applying isnull().sum() on Data.csv to return number of missing values

Data_user.isnull().sum()

#### 4. Find the number of movies per genre using the item data - 5 marks

In [ ]:
Data_item1= Data_item.drop(['movie id','movie title','release date'], axis=1) #drop columns with non integer values
Data_item1.sum(axis=0) #return the number of movies per genre

#### 5. Find the movies that have more than one genre - 2.5 marks

In [ ]:
Data_item2= Data_item.drop(['movie id','release date'], axis=1) #drop columns 
Data_item2['GenreSum']= Data_item2.sum(axis=1) #create new column 'GenreSum' with summation of number of genre per movie
#Data_item2

In [ ]:
Data_item3 = Data_item2.drop(['unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Drama','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'], axis=1)
Data_item4 = Data_item3.loc[(Data_item2['GenreSum'] > 1)] #return rows of movie titles with more than 1 genre classification
print(Data_item4)

#### 6. Drop the movie where the genre is unknown - 2.5 marks

In [ ]:
#Movie_Unknown= Data_item.loc[Data_item1['unknown'] ==1] To view row containing movie with unknown genre, unknown=1
#print (Movie_Unknown)
Data_item5= Data_item1[Data_item1.unknown !=1] #drop the row that contains 1 in the column 'unknown' because we have only one unknown movie as per answer of Question 4
Data_item5.sum(axis=0) #Total movies per genre after removing the unknown movie entry, unknown=0

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

In [ ]:
#distribution plot for 'age'

sns.distplot(Data_user['age']);

In [ ]:
#count plot for 'gender'

sns.countplot(Data_user['gender']);

In [ ]:
#count plot for 'occupation'

plt.figure(figsize=(30,8)) #modification of figure size for a better view of the plot
sns.countplot(Data_user['occupation']);

In [ ]:
#count plot for 'rating'

sns.countplot(Data_data['rating']);

In [ ]:
#plot for Year
#new dataframe by spliting the release date

Data_item6 = Data_item["release date"].str.split("-", n=2 ,expand=True) 
#Data_item6

In [ ]:
#adding the third column from Data_item6 to Data_item with title 'Year'

Data_item['Year']=Data_item6[2]

In [ ]:
 #distribution plot for 'Year'

sns.distplot(Data_item['Year'], kde=False);

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the number of releases in a year as a parameter of popularity of a genre

Hint 

1: you need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa.
Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 2: Use groupby on the relevant column and use sum() on the same to find out the nuumber of releases in a year/genre.

In [ ]:
#creating a datafrome with year as index and genre as columns

Data_item7= Data_item.drop(['movie id','movie title','release date'], axis=1)
YearGroup= Data_item7.groupby(['Year']).sum()
YearGroup1= YearGroup.sort_index(axis=0, ascending=False)
YearGroup1.head()

In [ ]:
#heatmap

plt.figure(figsize=(16,20)) #modification of figure size
sns.heatmap(YearGroup1, annot=True, cmap="Blues")

### 9. Find the top 25 movies according to average ratings such that each movie has number of ratings more than 100 - 10 marks

Hint : 
1. First find the movies that have more than 100 ratings(use merge, groupby and count). Extract the movie titles in a list.
2. Find the average rating of all the movies and sort them in the descending order. You will have to use the .merge() function to reach to a data set through which you can get the names and the average rating.
3. Use isin(list obtained from 1) to filter out the movies which have more than 100 ratings.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

In [ ]:
#preparing Data_data for merge by dropping unnecessary columns

Data_data1= Data_data.drop(['timestamp','user id'], axis=1)
Data_data1.head()

In [ ]:
#preparing Data_item for merge by dropping unnecessary columns

Data_item8= Data_item.drop(['Year','release date','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Drama','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'], axis=1)
Data_item8.head()

In [ ]:
#merging dataframes and then dropping columns not required

itemdata= pd.merge(Data_item8, Data_data1, on='movie id')
itemdata1= itemdata.drop(['movie id'], axis=1)
itemdata1.head()

In [ ]:
#applying groupby on 'movie title' and combining count

itemdata2= itemdata1.groupby(['movie title']).count()
itemdata2ri= itemdata2.reset_index() #reset index
itemdata2ri #return number of rating per movie

In [ ]:
#return movies with rating above 100

itemdata3= itemdata2.loc[itemdata2['rating'] >100] 
itemdata3ri= itemdata3.reset_index()

In [ ]:
#Movie_Title contains the list of movies with above 100 ratings

Movie_Title= itemdata3ri['movie title'].to_list() 
print ('Movie Title List: ', Movie_Title)

In [ ]:
#groupby 'movie title' and apply mean, returns mean rating per movie
#return the mean rating with descending order

itemdata4= itemdata1.groupby(['movie title']).mean() 
itemdata4ri= itemdata4.reset_index()
itemdata5 = itemdata4ri.sort_values(by=['rating'], ascending=False) 
print (itemdata5)

In [ ]:
#returns top 25 movies by mean rating

Top25= itemdata5.iloc[0:24] 
print (Top25)

### 10. See gender distribution across different genres check for the validity of the below statements - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

1. There is no need to conduct statistical tests around this. Just compare the percentages and comment on the validity of the above statements.

2. you might want ot use the .sum(), .div() function here.
3. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.

#### Conclusion:

In [ ]:
#preparing dataframes for merge

Newdata= Data_data.drop(['timestamp'], axis=1)
Newitem= Data_item.drop(['movie title','Year','release date','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Fantasy','Film-Noir','Horror','Musical','Mystery','Thriller','War','Western'], axis=1)
Newuser= Data_user.drop(['age','occupation','zip code'], axis=1)

In [ ]:
#First merge

itemdatam= pd.merge(Newdata, Newitem, on='movie id')
print (itemdatam)

In [ ]:
#second merge

Gender= pd.merge(Newuser, itemdatam, on='user id')
print (Gender)

In [ ]:
#here we can get the sum of movies per genre per gender (number of ratings per genre)

Gender1= Gender.groupby(['gender']).sum()
Gender1ri= Gender1.reset_index()
Gender1ri

In [ ]:
#Total number of ratings by all users per gender

Gender2= Gender.groupby(['gender']).count()
Gender2ri= Gender2.reset_index()
Gender2ri

In [ ]:
M_drama= (28887/74253)*100 #percentage of men watching drama
F_drama= (11008/25738)*100 #percentage of women watching drama

print (M_drama)
print (F_drama)

In [ ]:
M_Rom= (13603/74253)*100 #percentage of men watching romance
F_Rom= (5858/25738)*100  #percentage of women watching romance

print (M_Rom)
print (F_Rom)

In [ ]:
M_SF= (10101/74253)*100 #percentage of men watching SciFi
F_SF= (2629/25738)*100  #percentage of women watching SciFi

print (M_SF)
print (F_SF)

In [ ]:
#Conclusion

# Statement 1: False
# Statement 2: False
# Statement 3: False