In [ ]:
#Question 1 importing required packages

import numpy as np  
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set(color_codes=True) 
%matplotlib inline

In [ ]:
#Question 2 reading the data files

Data_data = pd.read_csv('Data.csv') 
Data_item = pd.read_csv('item.csv')
Data_user = pd.read_csv('user.csv')

In [ ]:
#Question 3 applying head on Data.csv

Data_data.head()

In [ ]:
#Question 3 applying head on item.csv

Data_item.head()

In [ ]:
#Question 3 applying head on user.csv

Data_user.head()

In [ ]:
#Question 3 applying shape on all data files and then printing the result

shape_data= Data_data.shape 
shape_item= Data_item.shape
shape_user= Data_user.shape

print (shape_data)
print (shape_item)
print (shape_user)

In [ ]:
#Question 3 applying describe on Data.csv

Data_data.describe()

In [ ]:
#Question 3 applying describe on item.csv

Data_item.describe()

In [ ]:
#Question 3 applying describe on user.csv

Data_user.describe()

In [ ]:
#Question 3 applying info on Data.csv

Data_data.info()

In [ ]:
#Question 3 applying info on item.csv

Data_item.info()

In [ ]:
#Question 3 applying info on user.csv

Data_user.info()

In [ ]:
#Question 3 applying isnull().sum() on Data.csv to return number of missing values

Data_data.isnull().sum()

In [ ]:
#Question 3 applying isnull().sum() on item.csv to return number of missing values

Data_item.isnull().sum()

In [ ]:
#Question 3 applying isnull().sum() on Data.csv to return number of missing values

Data_user.isnull().sum()

In [ ]:
#Question 3
#Data_data.isnull().sum().sum() will return Total number of missing values in the whole dataframe data
#Data_item.isnull().sum().sum() will return Total number of missing values in the whole dataframe item
#Data_user.isnull().sum().sum() will return Total number of missing values in the whole dataframe user

In [ ]:
#Question 4

Data_item1= Data_item.drop(['movie id','movie title','release date'], axis=1) #drop columns with non integer values
Data_item1.sum(axis=0) #return the number of movies per genre

In [ ]:
#Question 5

Data_item2= Data_item.drop(['movie id','release date'], axis=1) #drop columns 
Data_item2['GenreSum']= Data_item2.sum(axis=1) #create new column 'GenreSum' with summation of number of genre per movie
Data_item3 = Data_item2.drop(['unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Drama','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'], axis=1)
Data_item4 = Data_item3.loc[(Data_item2['GenreSum'] > 1)] #return rows of movie titles with more than 1 genre classification
print(Data_item4)

In [ ]:
#Question 6

#Movie_Unknown= Data_item.loc[Data_item1['unknown'] ==1] To view row containing movie with unknown genre, unknown=1
#print (Movie_Unknown)
Data_item5= Data_item1[Data_item1.unknown !=1] #drop the row that contains 1 in the column 'unknown' because we have only one unknown movie as per answer of Question 4
Data_item5.sum(axis=0) #Total movies per genre after removing the unknown movie entry, unknown=0

In [ ]:
#Question 7 distribution plot for 'age'

sns.distplot(Data_user['age']);

In [ ]:
#Question 7 count plot for 'gender'

sns.countplot(Data_user['gender']);

In [ ]:
#Question 7 count plot for 'occupation'

plt.figure(figsize=(30,8)) #modification of figure size for a better view of the plot
sns.countplot(Data_user['occupation']);

In [ ]:
#Question 7 count plot for 'rating'

sns.countplot(Data_data['rating']);

In [ ]:
#Question 7

Data_item6 = Data_item["release date"].str.split("-", n=2 ,expand=True) #new dataframe by spliting the release date
Data_item['Year']=Data_item6[2] #adding the third column from Data_item6 to Data_item with title 'Year'
sns.distplot(Data_item['Year'], kde=False); #distribution plot for 'Year'

In [ ]:
#Question 8 creating a datafrome with year as index and genre as columns

Data_item7= Data_item.drop(['movie id','movie title','release date'], axis=1)
YearGroup= Data_item7.groupby(['Year']).sum()
YearGroup1= YearGroup.sort_index(axis=0, ascending=False)
YearGroup1.head()

In [ ]:
#Question 8

plt.figure(figsize=(16,20)) #modification of figure size
sns.heatmap(YearGroup1, annot=True, cmap="Blues") #heatmap

In [ ]:
#Question 9
#preparing Data_data for merge by dropping unnecessary columns

Data_data1= Data_data.drop(['timestamp','user id'], axis=1)
Data_data1.head()

In [ ]:
#preparing Data_item for merge by dropping unnecessary columns

Data_item8= Data_item.drop(['Year','release date','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Drama','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'], axis=1)
Data_item8.head()

In [ ]:
#merging dataframes and then dropping columns not required

itemdata= pd.merge(Data_item8, Data_data1, on='movie id')
itemdata1= itemdata.drop(['movie id'], axis=1)
itemdata1.head()

In [ ]:
#applying groupby on 'movie title' and combining count

itemdata2= itemdata1.groupby(['movie title']).count() #
itemdata2ri= itemdata2.reset_index() #reset index
itemdata2ri #return number of rating per movie

In [ ]:
itemdata3= itemdata2.loc[itemdata2['rating'] >100] #return movies with rating above 100
itemdata3ri= itemdata3.reset_index()

In [ ]:
Movie_Title= itemdata3ri['movie title'].to_list() #Movie_Title contains the list of movies with above 100 ratings
print ('Movie Title List: ', Movie_Title)

In [ ]:
itemdata4= itemdata1.groupby(['movie title']).mean() #groupby 'movie title' and apply mean, returns mean rating per movie
itemdata4ri= itemdata4.reset_index()
itemdata5 = itemdata4ri.sort_values(by=['rating'], ascending=False) #returns the mean rating with descending order
print (itemdata5)

In [ ]:
Top25= itemdata5.iloc[0:24] #returns top 25 movies by mean rating
print (Top25)

In [ ]:
#Question 10
#preparing dataframes for merge

Newdata= Data_data.drop(['timestamp'], axis=1)
Newitem= Data_item.drop(['movie title','Year','release date','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Fantasy','Film-Noir','Horror','Musical','Mystery','Thriller','War','Western'], axis=1)
Newuser= Data_user.drop(['age','occupation','zip code'], axis=1)

In [ ]:
#First merge

itemdatam= pd.merge(Newdata, Newitem, on='movie id')
print (itemdatam)

In [ ]:
#second merge

Gender= pd.merge(Newuser, itemdatam, on='user id')
print (Gender)

In [ ]:
#here we can get the sum of movies per genre per gender (number of ratings per genre)

Gender1= Gender.groupby(['gender']).sum()
Gender1ri= Gender1.reset_index()
Gender1ri

In [ ]:
#Total number of ratings by all users per gender

Gender2= Gender.groupby(['gender']).count()
Gender2ri= Gender2.reset_index()
Gender2ri

In [ ]:
M_drama= (28887/74253)*100 #percentage of men watching drama
F_drama= (11008/25738)*100 #percentage of women watching drama

print (M_drama)
print (F_drama)

In [ ]:
M_Rom= (13603/74253)*100 #percentage of men watching romance
F_Rom= (5858/25738)*100  #percentage of women watching romance

print (M_Rom)
print (F_Rom)

In [ ]:
M_SF= (10101/74253)*100 #percentage of men watching SciFi
F_SF= (2629/25738)*100  #percentage of women watching SciFi

print (M_SF)
print (F_SF)

In [ ]:
# Statement 1: False
# Statement 2: False
# Statement 3: False